body {
    background-image: linear-gradient(-225deg, #E3FDF5 0%, #ffffff 100%);
background-image: linear-gradient(to top, #a8edea 0%, #ffffff 100%);
background-attachment: fixed;
  background-repeat: no-repeat;

    font-family: 'Vibur', cursive;
/*   the main font */
    font-family: 'Abel', sans-serif;
opacity: .95;
/* background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%); */
}